.bar-graph {
  position: relative;

  width: 100%;
  display: flex;
  justify-content: center;

  &__rect {
    border: 1px solid red;
    stroke: var(--foreground-color);
    stroke-opacity: 0.2;
  }
}
