.home__graphs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.home__graphs-bottom-section {
  width: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    margin-top: 2rem;
  }

  &__graphs {
    display: flex;
    justify-content: center;
  }
}